.banner {
  width: 1000px;
  height: 300px;
  margin: 50px auto;
}
.swiper-slide {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.swiper-slide img {
  width: 500px;
  height: 250px;
  object-fit: cover;
}
.text{
  width: 500px;
}
.text h2 {
  font-size: 32px;
  margin-bottom: 15px;
}
.text p {
  line-height: 1.4;
  color: #555;
}
.swiper-pagination-bullet {
  background: #000 ;
  opacity: 0.8;
  transition: all 0.3s ease;
}
.swiper-pagination-bullet-active {
  background: red;
  opacity: 1;
  width: 20px;
  border-radius: 10px;
}
